#game { display:flex; flex-wrap:wrap; width:300px; margin:auto; }
.hole { width:90px; height:90px; margin:5px; background:#888; border-radius:50%; position: relative; cursor: pointer; }
.mole { width:70px; height:70px; background:brown; border-radius:50%; position:absolute; top:10px; left:10px; }